@{
    ViewData["Title"] = "صفحه اصلی";
}

@await Component.InvokeAsync("Brand")

@await Component.InvokeAsync("Category")

<!-- ! header -->
<!-- ! offers -->
@await Component.InvokeAsync("Products")
<!-- ! offers -->
@if (!string.IsNullOrWhiteSpace(ViewBag.Text))
{
    <!-- ! desc-company -->
    <div class=" mt-5">
        <div class="desc-company">
            <div class="desc">
                <p class="h4">پخش مواد غذایی و پروتئینی مهرداد</p>
                <hr>
                <p>
                    @Html.Raw(ViewBag.Text)
                </p>
            </div>
        </div>
    </div>
    <!-- ! desc-company -->
}