@model Marketer.Query.Queries.Settings.SettingQueryVM

<footer class="mt-5">
    @if (Model?.Mobiles != null)
    {
        <div class="footer-title">
            <p class="h6">تلفن همراه</p>
            <p>
                @foreach (var mobile in Model.Mobiles)
                {
                    @mobile
                }
            </p>
        </div>
        <hr>
    }

    <div class="footer-details">
        <div class="foooter-lists">
            <div class="lists text-center services">
                <a href="" class="fw-bolder text-dark">صفحات</a>
                <ul>
                    <li><a href="">خانه</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">درباره ما</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ContactUs">تماس با ما</a></li>
                </ul>
            </div>
            <div class="lists text-center services">
                <a href="" class="fw-bolder text-dark ">خدمات به مشتریان</a>
                <ul>
                    <li><a href="">سرعت</a></li>
                    <li><a href="">دقت</a></li>
                    <li><a href="">مطمئن</a></li>
                </ul>
            </div>
            <div class="lists text-center services">
                <a href="" class="fw-bolder text-dark ">صفحات</a>
                <ul>
                    <li><a href="">خانه</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">درباره ما</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ContactUs">تماس با ما</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-logo">
            <img src="~/SiteTheme/assets/images/WhatsApp Image 2021-12-30 at 9.28.03 AM (1).jpeg"/>
        </div>
    </div>
    <hr>
    @if (!string.IsNullOrWhiteSpace(Model?.SummaryText))
    {
        <div class="footer-desc">
            <p>
                @Html.Raw(Model.SummaryText)
            </p>
        </div>
    }

</footer>
<!-- ! footer -->