@model Marketer.Query.Queries.Orders.FinalBasketVM
@using Framework.Application

@{
    ViewData["Title"] = "فاکتور نهایی";
}

<form class="container my-5" asp-action="FinalBasket" method="post">
    <div class="table-finallBasket" style="overflow: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">مبلغ کل(تومان)</th>
                    <th scope="col">مبلغ تخفیف(تومان)</th>
                    <th scope="col">مبلغ پرداختی(تومان)</th>
                    <th scope="col">مارکت</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>@Model.TotalPrice.ToMoney()</td>
                    <td>@Model.TotalDiscount.ToMoney()</td>
                    <td>@Model.PayAmount.ToMoney()</td>
                    <td>
                        <select class="form-select" asp-for="MarketId" asp-items="@ViewBag.Markets" aria-label="مارکت را انتخاب کنید">
                            <option selected value="0">انتخاب کنید...</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="w-50">ثبت</button>
    </div>
</form>
