@{
    ViewData["Title"] = "404";
}

<div class="notfound-page container my-5">
    <div class="notfound-page-image">
        <img class="" src="~/SiteTheme/assets/images/0ec0dbf1e9a008acb9955d3246970e15.gif" alt="">
    </div>
    <div class="notfound-page-desc my-2">
        <p class="h6">صفحه مورد نظر یافت نشد</p>
        <a asp-area="" asp-controller="Home" asp-action="Index">بازگشت به صفحه اصلی</a>
    </div>
</div>