@using System.Security.Claims

<header>
    <div class="desktop">
        <div class="desktop-logo">
            <img src="~/SiteTheme/assets/images/WhatsApp Image 2021-12-30 at 9.28.03 AM (1).jpeg" />
            <div class="search" dir="rtl">
                <a htef class="fas fa-search"></a>
                <input type="text" placeholder="جست و جو بین محصولات">
            </div>
        </div>
        <div class="desktop-acc d-none d-sm-block">
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Account" asp-action="VisitorLogin">
                    <i class="fas fa-user text-danger fa-1x"></i>
                </a>
            }

            else if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == "Visitor")
            {
                <i class="fas fa-shopping-cart text-danger fa-1x"></i>
            }

        </div>
    </div>
    <div class="mobile"></div>
</header>

<!-- ? main page -->
<div class="main-header">
    <div class="main-links">
        <p class="h6">
            پخش مواد غذایی و پروتئینی مهرداد
        </p>
        <ul class="nav-desktop">
            <li>
                <a href="">
                    محصولات
                </a>
                <i class="fas fa-address-book"></i>
            </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a asp-area="" asp-controller="Account" asp-action="Logout">
                        خروج
                    </a>
                </li>

                <li>

                    @if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == "Visitor")
                    {
                        <a asp-area="Visitor" asp-controller="Dashboard" asp-action="Index">
                            پنل کاربری
                        </a>
                    }
                    else if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == "Operator")
                    {
                        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                            پنل مدیریت
                        </a>
                    }
                    <i class="fa fa-user"></i>
                </li>
            }
            else
            {
                <li>
                    <a asp-area="" asp-controller="Account" asp-action="VisitorLogin">
                        ورود
                    </a>
                    <i class="fa fa-user"></i>
                </li>
            }

            <li>
                <a href="">
                    تماس با ما
                </a>
                <i class="fas fa-address-book"></i>
            </li>
            <li>
                <a href="">
                    درباره ما
                </a>
                <i class="fas fa-address-card"></i>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    خانه
                </a>
                <i class="fas fa-home"></i>
            </li>
        </ul>
        <div class="nav-mobile" id="open">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</div>
<!-- ? main page -->