<header>
    <div class="desktop">
        <div class="desktop-logo">
            <img src="~/SiteTheme/assets/images/WhatsApp Image 2021-12-30 at 9.28.03 AM (1).jpeg"></img>
            <div class="search" dir="rtl">
                <a htef class="fas fa-search"></a>
                <input type="text" placeholder="جست و جو بین محصولات">
            </div>
        </div>
        <div class="desktop-acc d-none d-sm-block">
            <i class="fas fa-user text-danger fa-1x"></i>
            <i class="fas fa-shopping-cart text-danger fa-1x"></i>
        </div>
    </div>
    <div class="mobile"></div>
</header>