@model string
@using Framework.Application

@{
    ViewData["Title"] = "توضیحات";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">@ViewData["Title"]</h4>
</div>

<div class="modal-body">
    <p>@Model</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>